.wrp {
    width: 100%;
    height: 100vh;
    background-color: #1B2473;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    color: #787878;
    font-weight: 700;
}

.form-reg,
.form-aut {
    background: #FFFFFF;
    width: 600px;
    height: 412px;
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 25);
    padding: 30px 45px 26px 45px;
    border-radius: 20px;
    position: relative;
}

.form-reg {
    display: none;
} 

.form-reg_title,
.form-aut_title {
    color: #787878;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    margin-bottom: 13px;
}

.form-reg_email-groupe,
.form-reg_password-groupe,
.form-aut_email-groupe,
.form-aut_password-groupe {
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    margin-bottom: 13px;
    position: relative;
}

.form-reg_label,
.form-aut_label {
    font-size: 16px;
    line-height: 16px;
    margin-left: 8px;
}

.form-reg_input,
.form-aut_input {
    background-color: #FFFFFF;
    padding: 7px 15px;
    border: 2px solid #787878;
    border-radius: 10px;
    font-size: 28px;
    line-height: 36px;
    color: #CCCCCC;
}

.form-reg_input::placeholder,
.form-aut_input::placeholder {
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
}

.form-reg_star,
.form-aut_star {
    position: absolute;
    top: 30px;
    left: -15px;
    font-size: 18px;
    line-height: 18px;
}

.form-reg_label-checkbox,
.form-aut_label-checkbox {
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
}

.form-reg_checkbox-groupe,
.form-aut_checkbox-groupe {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    margin-top: 16px;
    position: relative;
}

.form-reg_btn,
.form-aut_btn {
    display: flex;
    justify-content: center;
    margin-top: 52px;
}

.form-reg_btn input,
.form-aut_btn input {
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    background: #1A2268;
    border-radius: 10px;
    padding: 18px;
    border: none;
    cursor: pointer;
    width: 180px;
}

#checkboxRegLabel,
#checkboxAutLabel {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

#checkboxReg,
#checkboxAut {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark-reg,
.checkmark-aut {
    position: absolute;
    top: -5px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border: 2px solid #787878;
    border-radius: 7px;
}

#checkboxReg~.checkmark-reg,
#checkboxAut~.checkmark-aut {
    border: 2px solid #787878;
    border-radius: 7px;
}

#checkboxReg:checked~.checkmark-reg,
#checkboxAut:checked~.checkmark-aut {
    background-color: transparent;
}

.checkmark-reg:after,
.checkmark-aut:after {
    content: "\2713";
    position: absolute;
    display: none;
    top: 4px;
    left: 6px;
}

#checkboxReg:checked~.checkmark-reg:after,
#checkboxAut:checked~.checkmark-aut:after {
    display: block;
}

#checkboxRegLabel .checkmark-reg:after,
#checkboxAutLabel .checkmark-aut:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #787878;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#checkboxRegStar,
#checkboxAutStar {
    color: grey;
    position: absolute;
    top: 0px;
    left: -15px;
    width: 10px;
    height: 10px;
    font-size: 16px;
}

#checkboxRegLabel #checkboxRegStar,
#checkboxAutLabel #checkboxAutStar {
    top: -1px;
}

#regEmailTextReg,
#regPasswordTextReg,
#regCheckboxTextReg,
#regEmailTextAut,
#regPasswordTextAut,
#regCheckboxTextAut {
    font-size: 10px;
    line-height: 16px;
    font-weight: 400;
    color: #CB2424;
    opacity: 0;
}

#regCheckboxTextReg,
#regCheckboxTextAut {
    position: absolute;
    top: 28px;
}

.form-reg_btn-toggle,
.form-aut_btn-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 14px;
    line-height: 16px;
    color: #1A2268;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-weight: 700;
}